// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css?family=Lato|Six+Caps|Source+Sans+Pro&display=swap');
//Variables 
@main-font:'Source Sans Pro', sans-serif;
@header-font: 'Six Caps', sans-serif;

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

html{
	font-size: 62.5%;
}

h1 {
	font-size: 10rem;
	font-family: @header-font;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h2 h3 h4 {
	font-size: 5rem;
}

body{
	font-family:@main-font;
	font-size: 2rem;
}

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
}



/* header */
header {
	display: flex;
	justify-content: space-between;

	nav {
		display: flex;
		width: 691px;
		margin-top: 35px;
	  }// this closes the nav

	  a {
		margin-right: 65px;
		font-size: 14px;
		color: gray;
		text-decoration: none;

	  }// this closes the links inside of the nav


  }// this closes the header 
  
  
 
@main-color:pink;

body{
	background-color:@main-color;
}

main-content {
	border-top: 1px solid black;
	margin-top: 76px;
	padding-top: 39px;

	.top-content {
		display: flex;
		justify-content: space-between;

		.text-content {
			width: 410px;
		  }// this closes the text-content

	  }// this closes the top-content 
	  
  }// this closes the header 
  
  
  button {
    border: 2px solid black;
    width: 10%;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
    margin: 0;
}
